body {
	font-family: courier new;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

#container {
	/*width: 600px;*/
	/*height: 400px;*/
	width: 100%;
	height: 100%;

	position: absolute;
	/*margin: 160px auto 0;*/
	/*background: #F3E293;*/
	background: #0C6166;
	overflow: hidden;
}
#center {
	width: 8px;
	height: 8px;
	position: absolute;
	background: black;
	border-radius: 100%;
}

#lay {
	position: absolute;
	background-size: cover;
	/*background: url(http://cs7052.vk.me/c540103/v540103606/215d3/hR04DHhwsEI.jpg);*/
	/*background: url(http://i071.radikal.ru/1002/9b/0ed3653c175f.jpg);*/
	background-repeat: no-repeat;
	/*background-color: pink;*/
	/*opacity: .4;*/

	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;

	cursor: default;
}

/*#dot {
	width: 4px;
	height: 4px;
	position: absolute;
	background: black;
	z-index: 2;
	top: 360px;
	left: 639px;
}*/
.wow {
	width: 8px;
	height: 8px;
	margin-right: 15px;
	margin-bottom: 15px;
	/*background: darkcyan;*/
	/*border-radius: 100%;*/
	position: relative;
	/*z-index: 32;*/
	display: inline-block;
	color: #14ABB4;
}


/*------ INDICATORS --------*/

.indicator {
	height: 15px;
	line-height: 15px;
	position: fixed;
	right: 10px;
	display: block;
	border: 1px solid black;
	color: black;
	text-align: center;
	font-family: courier new;
	font-size: 14px;
	cursor: default;
	background: black;
	opacity: 1;
	text-align: center;

}
.indicator:focus {
	outline: none;
}

#mouse-xy {
	top: 10px;
	width: 100px;
	color: #F78695;
}

#center-dist {
	top: 35px;
	width: 100px;
	color: #F2ED4B;
}

